.desktop-1 .brave-sparkid {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .container-8 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 8px 11.4px 11px 11.4px;
  box-sizing: border-box;
}
.desktop-1 .dxe-0 {
  width: 17.8px;
  height: 9.6px;
}
.desktop-1 .frame {
  position: absolute;
  left: 15.1px;
  top: 3.4px;
  display: flex;
  width: 48px;
  height: 39.8px;
  box-sizing: border-box;
}
.desktop-1 .group-1 {
  position: relative;
  width: 228px;
  box-sizing: border-box;
}
.desktop-1 .home {
  margin: 8px 30.1px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.desktop-1 .about {
  margin: 8px 30.2px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.desktop-1 .courses {
  margin: 11px 30.1px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.desktop-1 .contact {
  margin: 11px 30.1px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.desktop-1 .nav-button-content {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #F6F8FF;
}
.desktop-1 .container {
  border-radius: 10px;
  background: #08246A;
  position: relative;
  display: flex;
  padding: 7px 0.6px 14px 0;
  width: 101px;
  box-sizing: border-box;
}
.desktop-1 .group-2 {
  background: #D9D9D9;
  position: relative;
  margin: 6px 0 2px 0;
  display: flex;
  flex-direction: row;
  padding: 0 22px 0 38px;
  box-sizing: border-box;
}
.desktop-1 .group-3 {
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 12px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .lets-go-with-crazy-11 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 100px 0 0;
  border: 1px solid #000000;
  background: url('assets/images/LetsGoWithCrazy11.png') 50% / cover no-repeat;
  margin-right: 13px;
  width: 200px;
  height: 398px;
}
.desktop-1 .brave {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.desktop-1 .comprehensive-brain-and-skill {
  margin: 0 26.8px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 40px;
  color: #FF0505;
}
.desktop-1 .explore-our {
  margin: 0 0 3px 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.desktop-1 .brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing {
  margin: 0 16.1px 0 9px;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .container-11 {
  margin: 14px 0 72px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .group-9 {
  margin: 47px 106.9px 275.9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .group-10-removebg-preview-2 {
  background: url('assets/images/Group10RemovebgPreview1.png') 50% / cover no-repeat;
  width: 764px;
  height: 720.9px;
}
.desktop-1 .container-16 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .enroll-now-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .frame-12 {
  border-radius: 68px;
  background: #2007FF;
  position: absolute;
  left: 216px;
  bottom: 330.3px;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .frame-1 {
  background: #D2BCBC;
  position: relative;
  display: flex;
  padding-bottom: 64.1px;
  box-sizing: border-box;
}
.desktop-1 .home-page {
  display: flex;
  box-sizing: border-box;
}
.desktop-1 .ellipse-1 {
  position: absolute;
  left: 263px;
  top: 214px;
  width: 279px;
  height: 190px;
}
.desktop-1 .ellipse-2 {
  position: absolute;
  left: 50%;
  top: 214px;
  translate: -50% 0;
  width: 321px;
  height: 190px;
}
.desktop-1 .ellipse-3 {
  position: absolute;
  top: 214px;
  right: 262px;
  width: 279px;
  height: 190px;
}
.desktop-1 .about-us {
  position: relative;
  margin: 0 6.2px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 40px;
  background: linear-gradient(90deg, #FF0505, #040943);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .at-brave-sparkids-academy-we-believe-in-unlocking-the-limitless {
  position: relative;
  margin: 0 7.8px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .download-3-removebg-preview-1 {
  background: url('assets/images/Download3RemovebgPreview1.png') 50% / cover no-repeat;
  margin-bottom: 9px;
  width: 130px;
  height: 116px;
}
.desktop-1 .superior-icon-instructor-removebg-preview-1 {
  background: url('assets/images/SuperiorIconInstructorRemovebgPreview1.png') 50% / cover no-repeat;
  margin-top: 34px;
  width: 103px;
  height: 91px;
}
.desktop-1 .download-4-removebg-preview-1 {
  background: url('assets/images/Download4RemovebgPreview1.png') 50% / cover no-repeat;
  margin: 25px 0 9px 0;
  width: 108px;
  height: 91px;
}
.desktop-1 .container-17 {
  position: relative;
  margin: 0 28px 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 617px;
  box-sizing: border-box;
}
.desktop-1 .our-courses-including-abacus-vedic-maths {
  margin: 0 34.5px 23px 0;
  display: inline-block;
  width: 157px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .experienced-instructors-our-team-of-dedicated-and-highly-skilled {
  margin: 5px 77.8px 18px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .cutting-edge-curriculum-we-constantly-innovate-our-curriculum-to-stay-ahead {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-1 .container-12 {
  position: relative;
  margin: 0 0 44px 23.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 851.1px;
  box-sizing: border-box;
}
.desktop-1 .learning-abacus-for-student-1 {
  background: url('assets/images/LearningAbacusForStudent1.png') 50% / cover no-repeat;
  margin-right: 32px;
  width: 335px;
  height: 391px;
}
.desktop-1 .images-4-removebg-preview-1 {
  background: url('assets/images/Images4RemovebgPreview1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 125px;
  height: 105px;
}
.desktop-1 .new-yorks-top {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 22px;
  color: #FF4C00;
}
.desktop-1 .group-11 {
  position: relative;
  margin-right: 47.5px;
  display: flex;
  padding: 24px 0 23px 0;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .brave-sparkids-academy-is-the-premier-destination-for-parents-seeking-to-unlock-the-full-potential-of-their-children-with-awide-range-of-innovative-programs-our-institution-has-established-itself-as-aleading-provider-of-comprehensive-brain-and-skill-development {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .container-4 {
  background: #D2BCBC;
  position: relative;
  margin: 69px 0 68px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 8px 35px 10px;
  width: 666px;
  box-sizing: border-box;
}
.desktop-1 .group-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .about-page {
  background: #BBD4E5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 53px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .explore-our-programs {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
}
.desktop-1 .enroll-now {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .group-5 {
  border-radius: 20px;
  background: #F60A0A;
  position: relative;
  margin: 0 0 44.3px 219px;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .discover-the-life-changing-impact-of-our-courses {
  margin-left: 116px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .group-13 {
  border: 1px solid #000000;
  background: url('assets/images/LetsGoWithCrazy31.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16.1px 66px 16.1px;
  width: 552px;
  box-sizing: border-box;
}
.desktop-1 .our-courses {
  margin-bottom: 61px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 40px;
  background: linear-gradient(90deg, #FF4C00, #040943);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .why-choose-brave-sparkids-academy {
  margin: 0 43px 19px 43px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  color: #FF0505;
}
.desktop-1 .at-brave-sparkids-academy-we-believe-that-every-child-is-unique-and-deserves-the-opportunity-to-reach-their-full-potential {
  margin: 0 0 15px 43px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .brave-sparkids-academy-is-the-premier-institution-for-comprehensive-brain-and-skill-development-programs-in-the-region-our-innovative-curriculum-experienced-instructors-and-cutting-edge-facilities-work-in-harmony-to-create-an-enriching-learning-environment-that-propels-children-towards-academic {
  margin: 0 28.6px 25px 43px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .know-more-about-curriculum {
  position: absolute;
  left: 50%;
  bottom: -13.3px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .frame-6 {
  border-radius: 20px;
  background: #0F07FC;
  position: relative;
  margin: 0 43px;
  align-self: flex-start;
  width: 279.4px;
  height: 61.7px;
}
.desktop-1 .container-1 {
  margin: 36px 0 260.3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .courses-1 {
  background: #FFEAEA;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .our-curriculum {
  margin: 0 34px 75px 34px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(90deg, #FF4C00, #FF0505);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.desktop-1 .discover-the-power-of-our-transformative-programs {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}
.desktop-1 .at-brave-sparkids-academy-we-believe-in-nurturing-the-whole-child-fostering-not-just-academic-success-but-also-critical-thinking-problem-solving {
  margin-bottom: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .enroll-now-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .group-6 {
  border-radius: 10px;
  background: #F66D0A;
  position: relative;
  margin-right: 44px;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .testimonials {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .frame-15 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 20px 0.6px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .container-18 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 402px;
  box-sizing: border-box;
}
.desktop-1 .container-14 {
  margin: 38px 133.2px 202.3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .our-curriculum-is-acarefully-curated-blend-of-traditional-and-cutting-edge-educational-methodologiesdesigned-to-stimulate-cognitive-developmentenhance-problem-solving-skills-and-cultivate-adeep-appreciation-for-learning {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .group-14 {
  background: url('assets/images/LetsGoWithCrazy41.png') 50% / cover no-repeat;
  position: relative;
  padding: 306px 21px 245px 21px;
  width: 625px;
  box-sizing: border-box;
}
.desktop-1 .curriculum {
  background: #918FA7;
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .group-15 {
  margin-left: 1px;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .lets-go-with-crazy-5-removebg-preview-1 {
  background: url('assets/images/LetsGoWithCrazy5RemovebgPreview2.png') 50% / cover no-repeat;
  position: absolute;
  left: -21px;
  top: 366px;
  width: 459px;
  height: 143px;
}
.desktop-1 .brave-sparkids-academy-has-been-atransformative-experience-for-my-child-the-dedicated-instructors-innovative-curriculum-and-nurturing-environment-have-ignited-apassion-for {
  margin: 0 0 35px 9.9px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
.desktop-1 .enroll-now-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .group-16 {
  border-radius: 10px;
  background: #FF0505;
  position: relative;
  margin-right: 44px;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .learn-more {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.desktop-1 .group-17 {
  border-radius: 10px;
  background: #0F07FC;
  position: relative;
  display: flex;
  padding: 20px 13.7px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  margin: 0 0 61.3px 9.9px;
  display: flex;
  flex-direction: row;
  width: 402px;
  box-sizing: border-box;
}
.desktop-1 .download-7-removebg-preview-1 {
  background: url('assets/images/Download7RemovebgPreview2.png') 50% / cover no-repeat;
  margin: 0 1px 59px 0;
  width: 120px;
  height: 120px;
}
.desktop-1 .make-your-move-today-start-your-rubiks-cubejourney-find-everything-you-need-to-know-about {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-7 {
  background: #0D3AF0;
  position: relative;
  margin-right: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 8.6px 56px 8.6px;
  box-sizing: border-box;
}
.desktop-1 .download-6-removebg-preview-1 {
  background: url('assets/images/Download6RemovebgPreview2.png') 50% / cover no-repeat;
  margin: 0 1.1px 60px 0;
  width: 135.9px;
  height: 120px;
}
.desktop-1 .fostering-math-skills-and-promoting-whole-brain-development-in-young-minds {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-15 {
  background: #0D3AF0;
  position: relative;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 6.5px 78px 10.5px;
  box-sizing: border-box;
}
.desktop-1 .microsoft-teams-image-58-removebg-preview-2 {
  background: url('assets/images/MicrosoftTeamsImage58RemovebgPreview1.png') 50% / cover no-repeat;
  margin: 0 0 68.5px 44px;
  align-self: center;
  width: 120px;
  height: 121.5px;
}
.desktop-1 .number-of-sutras-and-sub-sutras-that-help-to-complete-thecalculations-quickly {
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-6 {
  background: #0D3AF0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 0 46px 12.5px;
  width: 271px;
  box-sizing: border-box;
}
.desktop-1 .container-13 {
  margin: 0 87.2px 73px 89px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .images-71 {
  background: url('assets/images/Images71.jpeg') 50% / cover no-repeat;
  margin: 0 6px 12px 7px;
  width: 221px;
  height: 200px;
}
.desktop-1 .brave-sparkids-academy-has-been-agame-changer-for-your-child-the-comprehensive-programs {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .group-18 {
  margin: 0 30.9px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .images-61 {
  background: url('assets/images/Images61.jpeg') 50% / cover no-repeat;
  margin: 0 11.2px 16px 14.1px;
  width: 228.9px;
  height: 200px;
}
.desktop-1 .enrolling-yor-child-at-brave-sparkids-academy-was-one-of-the-best-decisions-youve-ever {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .group-19 {
  margin-right: 11.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .download-81 {
  background: url('assets/images/Download81.jpeg') 50% / cover no-repeat;
  margin: 0 17px 16px 18px;
  width: 219px;
  height: 200px;
}
.desktop-1 .the-most-loved-platform-forkids-learningpan-india {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .group-20 {
  margin: 0 34px 44px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .images-51 {
  background: url('assets/images/Images51.jpeg') 50% / cover no-repeat;
  margin-bottom: 16px;
  width: 231.2px;
  height: 200px;
}
.desktop-1 .who-are-seeking-an-educational-institution-that-could-truly-nurture-your-child {
  margin: 0 12.2px 0 7px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .group-21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .group-22 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .testimonials-1 {
  background: #EECFCF;
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 109px 9.9px 45px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .dxe-01 {
  width: 17.8px;
  height: 11.6px;
}
.desktop-1 .frame-1 {
  margin: 0 782.5px 58.2px 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.desktop-1 .brave-sparkids-inc-all-rights-reserved {
  margin: 0 15px 69px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .quick-links {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .home-1 {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .about-us-1 {
  margin: 0 18.6px 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .courses-2 {
  margin-bottom: 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .contact-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .frame-16 {
  margin: 0 82.5px 5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .explore-our-programs-1 {
  margin-bottom: 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .abacus {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .vedic-maths {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .rubiks-cube {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .handwriting {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .frame-17 {
  margin: 2px 77.8px 5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .connect-with-us {
  margin-bottom: 5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .facebook {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .twitter {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .instagram {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .frame-18 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .linked-in {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.desktop-1 .container-10 {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .frame-151 {
  background: #E2DFDE;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33.2px 0 109px 0;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #F6F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
