.frame-6 .enroll-now {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.frame-6 {
  border-radius: 68px;
  background: #2007FF;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  box-sizing: border-box;
}
