.group-8 .brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing-sub16 {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 66px;
  line-height: 1.333;
}
.brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing-sub88 {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.333;
  color: #F60A0A;
}
.brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing-sub85 {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
}
.brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing-sub84 {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-size: 64px;
  line-height: 1.333;
}
.brave-comprehensive-brain-and-skill-explore-our-brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
}
.group-8 {
  display: flex;
  box-sizing: border-box;
}
