.home-page .lets-go-with-crazy-11 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 100px 0 0;
  border: 1px solid #000000;
  background: url('assets/images/LetsGoWithCrazy11.png') 50% / cover no-repeat;
  margin-right: 13px;
  width: 200px;
  height: 398px;
}
.home-page .brave {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.home-page .comprehensive-brain-and-skill {
  margin: 0 26.8px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 40px;
  color: #FF0505;
}
.home-page .explore-our {
  margin: 0 0 3px 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.home-page .brave-sparkids-academy-is-aleading-institution-dedicated-to-nurturing {
  margin: 0 16.1px 0 9px;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.home-page .container {
  margin: 14px 0 72px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page .group-9 {
  margin: 47px 106.9px 275.9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page .group-10-removebg-preview-2 {
  background: url('assets/images/Group10RemovebgPreview1.png') 50% / cover no-repeat;
  width: 764px;
  height: 720.9px;
}
.home-page .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page .enroll-now {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #D9D9D9;
}
.home-page .frame-12 {
  border-radius: 68px;
  background: #2007FF;
  position: absolute;
  left: 216px;
  bottom: 330.3px;
  display: flex;
  padding: 20px 3.5px 19.7px 0;
  width: 179px;
  box-sizing: border-box;
}
.home-page .frame-1 {
  background: #D2BCBC;
  position: relative;
  display: flex;
  padding-bottom: 64.1px;
  box-sizing: border-box;
}
.home-page {
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
